
.wrapper {
    background: #dbdee0;
    width: 64%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    margin: 32px auto;
    padding: 24px;
}

