
table {
    border: 1px solid #ff0000;
}

.table {
    width: 96%;
    background: #dddddd;
    color: #000000;
    box-shadow: 6px 6px 2px 0px #666666, 0px 0px 1px 0px #222222;
}

.App-card {
    animation: App-card-spin infinite 20s linear;
}

@keyframes App-card-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

