
.table {
    width: 100%;
    background: #dddddd;
    color: #000000;
    border: 1px solid #4444aa;
    border-spacing: 0px;
    /* box-shadow: 6px 6px 2px 0px #666666, 0px 0px 1px 0px #222222; */
}

