
.table {
    /* position: relative; */
    width: 256px;
    background: #dddddd;
    color: #000000;
    /* margin: 1.5rem 1.0rem; */
    box-shadow: 6px 6px 2px 0px #666666, 0px 0px 1px 0px #222222;
}

.App-card {
    animation: App-card-spin infinite 20s linear;
}

table, td {
    border: 1px solid #ff0000;
}

td {
    width: 20%;
}

@keyframes App-card-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

