
.App-card {
    animation: App-card-spin infinite 20s linear;
}

tr {
    height: 32px;
}

td {
    width: 20%;
    border: 1px solid #ff0000;
}

.bookCover {
    max-height: 24%;
}

@keyframes App-card-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

